/*
  Globals
*/
body {
  margin: 0;
  background: #556270;
  color: #353d46;
  font: 18px/27px 'Helvetic', sans-serif;
}

.txCount{
  text-align: center;
}

.fifthCont{
  top: 679px;
}

.sixthCont{
  top: 830px;
}

.txContent{
  position: absolute;
left: 28px !important;
top: 40px;
width:218px;
color: darkgrey;
}
h1, h2, h3 {
  color: white;
  margin: 0 0 27px;
}
.notif{
      float: right;
}
.err{
  color: red;
}
.addHeight{
  height: 50px !important;
}
.error {
    width: 200px;
    height: 20px;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: 74px;
    top: 78px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.titlePadBottom{
  margin-bottom: 25px;
  font-size: -webkit-xxx-large;
font-weight: bold;
color: black;
    margin-left: -400px;
    opacity: 0.9;

}

.img1Style{
  position: absolute;
      left: -28px;
}
.manImg{
  position: absolute;
  left:0px;
  top:5px;
  width:115px;
}

.timeline{
border: 1px dotted;
padding: 10px;
background-color: white;
/* opacity: 0.5; */
border: 1px solid grey;
/* border-top: 20px solid transparent; */
color: black;
margin: 10px;
border-top: 10px solid #343D48;


}



.truckData{
  font-size: 12px;
    color: white;
    border-bottom: 1px solid white;
    height: 40px;
    padding-top: 13px;
}

.sideTitleHeading{
  padding-left: 28px;
padding-top: 17px;
  position: absolute;
    left: 40px;
    top: 0px;
    color: black;
}

#T1line{
  /*border: 1px solid rgb(195, 205, 89);*/
  border: 1px solid darkslategrey;
      transform: rotate(30deg);
      position: relative;
      left: 175px;
      top: -31px;
}

#T2line{
  /*border: 1px solid #40C0B8;*/
  border: 1px solid darkslategrey;
      transform: rotate(30deg);
      position: relative;
      left: 175px;
      top: -31px;
}

#T3line{
  /*border: 1px solid #FCB823;*/
  border: 1px solid darkslategrey;
      transform: rotate(30deg);
      position: relative;
      left: 175px;
      top: -41px;
}

#T4line{
  /*border: 1px solid #0080B1;*/
  border: 1px solid darkslategrey;
      transform: rotate(30deg);
      position: relative;
      left: 180px;
      top: -51px;
      width: 100px;
}
.tempT1{
  width: 100px;
    position: relative;
    top: -87px;
    left: 180px;
}
.mapT1{
  width: 144px;
    position: relative;
    top: -193px;
    left: 250px;
    font-size: small;
}
.paletT1{
  width: 100px;
  position: relative;
  top: -274px;
  left: 420px;
  height: 120px;
}

.tempT2{
  width: 100px;
    position: relative;
    top: -87px;
    left: 180px;
}

.mapT2{
  width: 144px;
    position: relative;
    top: -183px;
    left: 276px;
    font-size: small;
}

.paletT2{
  width: 100px;
  position: relative;
  top: -274px;
  left: 420px;
  height: 120px;
}

.tempT3{
  width: 100px;
    position: relative;
    top: -87px;
    left: 180px;
}

.mapT3{
  width: 144px;
    position: relative;
    top: -183px;
    left: 276px;
    font-size: small;
}

.paletT3{
  width: 100px;
  position: relative;
  top: -274px;
  left: 420px;
  height: 120px;
}

.tempT4{
  width: 100px;
    position: relative;
    top: -87px;
    left: 180px;
}
.mapT4{
  width: 144px;
    position: relative;
    top: -183px;
    left: 276px;
    font-size: small;

}
.paletT4{
  width: 100px;
  position: relative;
  top: -274px;
  left: 420px;
  height: 120px;
}


.thermoHt{
  height:94px;
}
.thermoHtMain{
  height:71px;
}

.mapHt{

  height:59px;
}
/*
  Menu
*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: url(../images/net.png) !important;
}
nav#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.bgDark{
  text-align: center;
  background-color: #5C6F7B !important;
    background-size: cover !important;
    background-repeat: no-repeat  !important;
    background-position: center center !important;
}
#truck1BelowTitle{
  position: absolute;
top: 16px;
color: white;
left: -64px;
width: 192px;
}

#truck2BelowTitle{
  position: absolute;
    top: 177px;
    color: white;
    left: -56px;
    width: 192px;
}

#truck3BelowTitle{
  position: absolute;
      top: 336px;
      color: white;
      left: -64px;
      width: 192px;
}

#truck4BelowTitle{
  position: absolute;
    top: 488px;
    color: white;
    left: -55px;
    width: 192px;
}

.secondCont{
  top:223px
}

.thirdCont{
  top:378px
}

.fourthCont{
  top: 530px
}

#containerForTrucks{
  opacity: 0.6 !important;
  height: 130px;
  border-top-right-radius: 80px;
border-bottom-right-radius: 80px;
position: absolute;
left:0px;
}
#nonTransparent{
  position: absolute;
  top: 74px;
  left: 85px;
}


nav#slide-menu > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;

}
nav#slide-menu > ul li:hover {
  color: #59e9df;
}
nav#slide-menu > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

nav#slide-menu > ul li i{
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}
nav#slide-menu > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

.container.menu-active nav#slide-menu {
    left: -3px;
border-right: 3px solid #454F5C

}
.menu-trigger{
      margin-top: 7px;
}
#blockLegend{
  color: white;
  position: absolute;
    left: 0;
}
.box{
  width:80px
}
.centerB{
  margin-left: 130px;
  margin-right: 130px;
}
.secondB{
  margin-left:  347px;
}
.textBox1{
position: absolute;
font-weight: bold;
top: 169px;
left: 8px;
}
.textBox2{
  position: absolute;
  font-weight: bold;
  left: 225px;
  top: 173px;

}
.textBox3{
position: absolute;
font-weight: bold;
top: 169px;
left: 440px;
}
.textBox11{
  position: absolute;
  font-weight: bold;
  top: 239px;
  left: 8px;
}
.textBox13{
  position: absolute;
  font-weight: bold;
  top: 239px;
  left: 440px;
}
#genBill{
  margin-left: 200px;
/* width: 30px; */
min-width: 30px !important;
margin-top: 21px;
}

.container.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}
.popuptext{
  left: 30%;
position: absolute;
top: 45%;
}
.provImg{
  margin-top: 60px;
}
.containerProv{
  background-color: lightgrey;
  position: absolute;
  left: 25%;
  height: 300px;
  width: 700px;
  border: 1px solid #888;
  top:110px;
}
div#contentBottom {
  position: fixed;
    left: 284px;
    bottom: 0;
    border-radius: 7px 0 0 7px;
    height: 10%;
}

.notifContent{
  margin-top: 92px;
  color: red;
}
.notifTitle{
  position: relative;
top: 20px;
}

.voil{
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.square {
  background-color: black;
width: 800px;
padding: 30px;
padding-right: 0px;
padding-left: 29px;
}
.bntNotif{
  margin-left: 350px;
    border-radius: 11px;
    opacity: 0.5;
    background-color: black !important  ;
}
.square h1 {
    color: #fff;
}

.truckBox{
  background-color:#333B47;
  width:200px;
      display: table-cell;
      padding-top: 18px;

text-align: center;
color: white;
border-right: 10px solid #636A73;
    border: 1px;

}


.truckBox1{
  position: absolute;
    left: 115px;

    width:200px;


  text-align: center;
  color: white;
  border-right: 10px solid #636A73;
      border: 1px;
}


.truckBox2{
  position: absolute;
    left: 115px;
    top:160px;
    width:200px;


  text-align: center;
  color: white;
  border-right: 10px solid #636A73;
      border: 1px;
}

.truckBox3{
  position: absolute;
    left: 115px;
    top:320px;
    width:200px;
    height:100px;


  text-align: center;
  color: white;
  border-right: 10px solid #636A73;
      border: 1px;
}
.widthOfTrucks{
  width:150px
}

.truckBox4{
  position: absolute;
    left: 115px;
    top:470px;
    width:200px;
height:100px;

  text-align: center;
  color: white;
  border-right: 10px solid #636A73;
      border: 1px;
}

.boldFont{
  font-weight: bold;
}
.img2Style{
  position: absolute;
    left: -24px;
    top: 170px;
}

.img3Style{
  position: absolute;
left: -24px;
top: 325px;
}

.img4Style{
  position: absolute;
left: -24px;
top: 477px;
}

.smallerFont{
      font-size: smaller;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0
  }
  60% {
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1
  }
  80% {
    -webkit-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1
  }
}
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}

.whtTitle{
  color: white;
  background-color: #454F5C;
}

.topMargin{
  margin-top: 10px;
  border-top: 1px solid white;
}

/*
  Content
*/
div#content {
  border-bottom: 1px solid white;
  overflow: auto !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  padding: 60px;
  padding-top: 13px;
  overflow: scroll;
  background: url(../images/net.png);
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #4a5562;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content div.menu-trigger i {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: black;
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 36px;
}
div#content div.menu-trigger:hover {
  background: #556270;
}
div#content div.menu-trigger i:hover {
  color: #fcfeff;
}

.container.menu-active div#content {
  left: 284px;
  border-radius: 7px 0 0 7px;
}

.container.menu-active div#content .menu-trigger {
  left: 294px;
}

/*End CSS example*/

/*Other CSS*/
body{
  font-family: helvetica;
  font-size: 1.2em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width: 40%;
}

.container{
   margin-top: 50px;
  width: 50%;
}



/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;



    width: 280px;
    height: 450px;
    overflow: hidden;
    top: 40px;
    left: 410px;
}





/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: lightgray;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 700px;
height: 300px;
left: 25%;
}

.centerPalletDialog{
  margin-left: 100px;
  margin-right: 100px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-content{
  position: absolute;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
